<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員情報修正</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

	<div
		th:include="MEN101::userHeader(
		date = ${date},
		userName = ${userName}
	)"></div>

	<p>会員情報を入力してください。</p>

	<p>●会員情報</p>

	<span th:text="${message}" class="error"></span>

	<div>
		<form th:action="@{/MEM202.html}" method="post"
			th:object="${changeUserInfoModel}">
			<div>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					class="error"></span> <span th:if="${#fields.hasErrors('pass')}"
					th:errors="*{pass}" class="error"></span> <span
					th:if="${#fields.hasErrors('checkPass')}" th:errors="*{checkPass}"
					class="error"></span> <span th:if="${#fields.hasErrors('age')}"
					th:errors="*{age}" class="error"></span> <span
					th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
					class="error"></span> <span
					th:if="${#fields.hasErrors('postalCode')}"
					th:errors="*{postalCode}" class="error"></span> <span
					th:if="${#fields.hasErrors('addr')}" th:errors="*{addr}"
					class="error"></span> <span th:if="${#fields.hasErrors('tel')}"
					th:errors="*{tel}" class="error"></span> <span
					th:if="${#fields.hasErrors('passwordConfirmed')}"
					th:errors="*{passwordConfirmed}" class="error"></span>

			</div>
			<table border="1">
				<tr>
					<th>会員No</th>
					<td><span th:text="*{num}"></span>
						<input type="hidden" th:field="*{num}" size="20" />
					</td>
				</tr>

				<tr>
					<th>氏名</th>
					<td><input type="text" th:field="*{name}" size="20" /></td>
				</tr>

				<tr>
					<th>パスワード</th>
					<td><input type="password" th:field="*{pass}" size="20" /></td>
				</tr>

				<tr>
					<th>パスワード<br>(確認用)
					</th>
					<td><input type="password" th:field="*{checkPass}" size="20" /></td>
				</tr>

				<tr>
					<th>年齢</th>
					<td><input type="text" th:field="*{age}" size="20" /></td>
				</tr>

				<tr>
					<th>性別</th>
					<td><select th:field="*{gender}">
							<option th:each="gender : ${genderList}" th:value="${gender.key}"
								th:text="${gender.value}"></option>
					</select></td>
				</tr>

				<tr>
					<th>郵便番号</th>
					<td><input type="text" th:field="*{postalCode}" size="20" /></td>
				</tr>

				<tr>
					<th>住所</th>
					<td><textarea rows="2" cols="30" th:field="*{addr}"></textarea></td>
				</tr>

				<tr>
					<th>電話番号</th>
					<td><input type="text" th:field="*{tel}" size="20" /></td>
				</tr>

				<tr>
					<th>登録日</th>
					<td><span th:text="*{regDate}"></span>
					<input type="hidden" th:field="*{regDate}" size="20" />
					</td>
				</tr>


			</table>

			<div>
				<input type="submit" name="check" value="確認"> <input
					type="submit" name="back" value="戻る"> <input type=submit
					name="clear" value="クリア">
			</div>
		</form>
	</div>
</body>
</html>