<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お買い物確認</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

	<div
		th:include="MEN101::userHeader(
		date = ${date},
		userName = ${userName}
	)"></div>


	<p>●商品一覧</p>

	<span th:text="${message}" class="error"></span>

	<div th:if="${goodsNo}">
		<p th:inline="text">[[${goodsNo}]]の取り扱いは終了されたため購入できません。</p>
	</div>

	<form th:action="@{/KGO101.html}" method="post">
		<table border="1">
			<tr>
				<th>商品コード</th>
				<th>商品名</th>
				<th>販売元</th>
				<th>価格</th>
				<th>購入数</th>
			</tr>

			<tr th:each="goods : ${goodsList}">

				<td th:text="${goods.code}"></td>

				<td th:text="${goods.name}"></td>

				<td th:text="${goods.maker}"></td>

				<td th:text="${goods.price}" align="right"></td>

				<td th:text="${goods.count}" align="right"></td>
			</tr>
		</table>

		<table border="1">
			<tr>
				<th>小計</th>
				<td th:text="${priceInfo.sumPrice}" align="right"></td>
			</tr>

			<tr>
				<th>消費税</th>
				<td th:text="${priceInfo.tax}" align="right"></td>
			</tr>

			<tr>
				<th>合計金額</th>
				<td th:text="${priceInfo.totalPrice}" align="right"></td>
			</tr>


		</table>

		<input type="submit" name="cancel" value="買い物をやめる"> <input
			type=submit name="backKGO101" value="戻る">
	</form>

	<form th:action="@{KGO103.html}" method="post">
		<input type="submit" th:value="注文する">
	</form>



</body>
</html>